@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    color: #444;
    font-family: sans-serif;
    padding: 50px;
    height: 100vh;
    background-color: hsl(210, 46%, 95%);
    
    display: flex;
    align-items: center; /* CROSS AXIS*/
    justify-content: center; /* MAIN AXIS*/
 }

 .furniture {
    max-width: 800px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 30px 80px 10px rgba(0, 0, 0, .2);
    display: flex;
 }

 .furniture img {
    width: 100%;
    display: block;
 }

 .furniture_hero {
    flex: 0 0 45%;
 }  

 .furniture_content {
    background-color: white;
    flex: 1;
    padding: 35px 30px;

    display: flex;
    flex-direction: column;
 }f

 .furniture_title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
 }

 .furniture_heading {
    font-size: 20px;
    flex: 1;
    margin-bottom: 20px;
 }

.furniture_description {
    font-size:15px;
    text-align: justify;
 }

 .furniture_details {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
 }

 .furniture_detail {
    font-size: 15px;
    /* font-weight: 700; */
    display: flex;
}

 .bio img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
 }
 .caption {
    display:flex;
    flex-direction: column;
    margin-right: 180px;
 }
  .nama {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: 13px;
  }
  .tanggal {
    font-size: 13px;
    margin: 0;
    margin-bottom: 0;
  }
  
  .icon img {
    background-color: rgb(215, 221, 227);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    }
  .icon img:hover{
    background-color: rgb(113, 118, 124);
    color: white;
  }
  .body {
    font-family: sans-serif;
    background-color: rgb(215, 221, 227);
  }
  @media only screen and (max-width: 600px) {
    .furniture {
      display: flex;
      flex-direction: column;
      height: 400px;
      width: 250%;
      border-radius: 10px;
    }
    .furniture_hero {
      height: 150px;
      width: 250%;
      border-radius: inherit;
      border-top-right-radius: inherit;
      border-top-left-radius: inherit;
      border-bottom-left-radius: 0;     
    }
    .furniture_content {
      margin: 20px;
      display: flex;
      flex-direction:column;
      flex-wrap: wrap;
    }
    .furniture_title{
        font-size: 14px;
    }
    .furniture_description {
        font-size: 12px;
    }
    .furniture_detail {
        font-size: 9px;
    }
    .bio {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10 10 0 5;
    }
    .icon {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-basis: 50px;
        margin-left: 60px;
    }
    
    
}

  














